@value colors: "../../main/colors.css";
@value primary, secondary, tertiary, quaternary, quinary from colors;

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}

.main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.title-bar {
	position: relative;
	height: 50px;
}

.title-bar-inner {
	background-color: quaternary;
	color: primary;
	padding-top: 10px;
	font-family: quantumrounded, sans-serif;
	font-size: 30px;
	text-align: center;
	letter-spacing: 2px;
	margin-left: 50px;
	height: 100%;
}

.body {
}

.close {
    position: absolute;
    left: -21px;
    top: -21px;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 4px solid quaternary;
}

.close > div {
	position: absolute;
	width: 18px;
	top: 12px;
	left: 13px;
}

.close svg {
	stroke: quaternary;
}

.close:active {
	background-color: secondary;
}

.cut-out {
	position: absolute;
	top: -72px;
    left: -72px;
	box-sizing: border-box;
	height: 142px;
	width: 142px;
	border: 30px solid quaternary;
	border-radius: 100%;
}

.cut-out-container {
	position: absolute;
	box-sizing: border-box;
	top: 0px;
	left: 0px;
	width: 60px;
	height: 60px;
	overflow: hidden;
}

.cut-out-container:after {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    bottom: 10px;
    right: 7px;
    width: 5px;
    height: 2px;
    overflow: hidden;
    background-color: quaternary;
}