@value colors: "../../main/colors.css";
@value primary, secondary, tertiary, quaternary, quinary from colors;

.navigation {
    height: 82px;
    width: 630px;
    padding-top: 32px;
}

.arrow {
	position: absolute;
	border-radius: 3px;
	height: 42px;
	background-color: primary;
	cursor: pointer;
	user-select: none;
}

.arrow:active {
	background-color: quaternary;
}

.arrow:active svg {
	fill: primary;
}

.next-arrow {
	composes: arrow;
	right: 10px;
	width: 186px;
}

.processing-label {
	composes: arrow;
	right: 10px;
	width: 186px;
	background-color: quaternary;
	color: primary;
}

.complete-button {
	composes: arrow;
	right: 120px;
	width: 250px;
}

.arrow.complete-button .caption {
	width: 100%;
	text-align: center;
	left: 0px;
}

.complete-button:active .caption {
	color: primary;
}

.arrow.processing-label .caption {
	top: 12px;
	left: 16px;
	color: primary;
}

.processing-label .caption:after {
  overflow: hidden;
  font-family: quantumrounded, sans-serif;
  font-size: 17px;
  display: inline-block;
  vertical-align: bottom;  
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

.next-arrow > div {
	width: 32px;
	position: absolute;
	top: 4px;
	right: 8px;
}

.arrow .caption {
	position: absolute;
	top: 12.5px;
	left: 19px;
	font-family: quantumrounded, sans-serif;
    font-size: 15px;
    color: quaternary;
    letter-spacing: 1.7px;
}

.next-arrow:active .caption {
	color: primary;
}

.previous-arrow {
	composes: arrow;
	width: 120px;
	left: 10px;
	transform: scaleX(-1);
	filter: FlipH;
}

.previous-arrow > div {
	width: 72px;
	position: absolute;
	top: 0px;
	left: 27px;
}

.arrow svg {
	fill: quaternary;
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}