@value colors: "../../main/colors.css";
@value primary, secondary, tertiary, quaternary, quinary from colors;

.navigation {
	height: 50px;
	width: 630px;
	padding-top: 40px;
}

.arrow {
	position: absolute;
	border-radius: 3px;
	height: 42px;
	background-color: primary;
	cursor: pointer;
	user-select: none;
}

.arrow:active {
	background-color: quaternary;
}

.arrow:active svg {
	fill: primary;
}

.next-arrow {
	composes: arrow;
	right: 10px;
	width: 186px;
}

.next-arrow > div {
	width: 32px;
	position: absolute;
	top: 4px;
	right: 8px;
}

.next-arrow .caption {
	position: absolute;
	top: 12.5px;
	left: 19px;
	font-family: quantumrounded, sans-serif;
    font-size: 15px;
    color: quaternary;
    letter-spacing: 1.7px;
}

.next-arrow:active .caption {
	color: primary;;
}

.previous-arrow {
	composes: arrow;
	width: 120px;
	left: 10px;
	transform: scaleX(-1);
	filter: FlipH;
}

.previous-arrow > div {
	width: 72px;
	position: absolute;
	top: 0px;
	left: 27px;
}

.arrow svg {
	fill: quaternary;
}