@value colors: "../../main/colors.css";
@value primary, secondary, tertiary, quaternary, quinary from colors;

.main {
	min-height: 56px;
	display: inline-block;
	padding-left: 10px;
}

.placeholder {     
	font-size: 9px;
	color: #999999;
	font-weight: normal;
	position: absolute;
	top: 0;
	width: 100%;
	margin-top: 3px;
	padding: 0 0.93333em;
	user-select: none;
	pointer-events: none;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	box-sizing: border-box;
	opacity: 1;
	transition: all 0.2s ease-out;
}

.placeholder-hidden {
	opacity: 0;
	display: none;
}

.text-area {
	position: relative;
}

.input {
	border-radius: 2px;
	box-sizing: border-box;
	height: 40px;
	padding: 9px 35px 9px 9px;
	border: none;
    font-size: 17px;
    line-height: 18px;
    background-color: quaternary;
    color: #404040;
}

.input:focus {
	border-bottom: 2px solid primary;
	padding-bottom: 7px;
	outline: none;
}

