@value colors: "../../main/colors.css";
@value primary, secondary, tertiary, quaternary, quinary from colors;

.main {
	height: 720px;
	background-color: primary;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
}

.logo {
	position: absolute;
    top: 56px;
    left: 82px;
	width: 390px;
}

.logo svg {
	fill: quaternary;
}

.product-showcase {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 692px;
}

.torso {
	position: absolute;
	top: -327px;
	right: 94px;
	height: 327px;
}