@value colors: "../../main/colors.css";
@value primary, secondary, tertiary, quaternary, quinary from colors;

.content {
	height: 540px;
	width: 960px;
	background-color: quaternary;
}

.description {
	width: 560px;
	line-height: 184%;
	font-family: quantumrounded, sans-serif;
	white-space: pre-line;
}

.inner-content {
	position: absolute;
	top: 60px;
	left: 70px;
}

.logo {
	position: absolute;
	top: 30px;
	right: 41px;
	width: 272px;
}

.logo svg {
	fill: primary;
}

.title {
	font-family: quantumrounded, sans-serif;
	color: primary;
}

.contact {
	margin-top: 36px;
	font-family: quantumrounded, sans-serif;
	color: primary;
}

.contact div {
	margin-top: 5px;
}

.contact .support-email {
	padding-bottom: 24px;
}