@value colors: "../../main/colors.css";
@value primary, secondary, tertiary, quaternary, quinary from colors;

.split {
	background-color: tertiary;
	width: 100%;
	box-sizing: border-box;
	height: 480px;
	display: table;	
}

.left-header {
	height: 124px;
	background-color: primary;
	position: relative;
}

.right-header {
	position: relative;
	height:124px;
}

.column {
	display: table-cell;
	vertical-align: top;
}

.left-column>div {
	margin: 0 auto;
}

.left-column {
	composes: column;
	width: 60%
}

.left-column-title {
	position: absolute;
	color: #F9F9F7;
	font-family: quantumrounded, sans-serif;
	font-size: 46px;
    letter-spacing: 2.5px;
    top: 18px;
    left: 72px;
	margin: 0px;
}

.right-column {
	position: relative;
	composes: column;
	background-color: secondary;
	display: table-cell;
	width: 33%;
}

.form-container {
	padding: 38px 30px;
	width: 690px;
	height: 500px;
	box-sizing: border-box;
	position: relative;
}

.made-in-canada {
	position: absolute;
	top: 18px;
	right: 22px;
	width: 80px;
	fill: #F9F9F7;
	transform: rotate(8deg);
}

.left-header-tip {
	position: absolute;
	top: 0;
	left: -154px;
	width: 0; 
	height: 0; 
	border-left: 154px solid transparent;
	border-right: 154px solid transparent;
	border-top: 124px solid primary;
}

.summary-container {
	position: relative;
	height: 400px;
	width: 100%;
}