@value colors: "../../main/colors.css";
@value primary, secondary, tertiary, quaternary, quinary from colors;

.split {
	background-color: tertiary;
	width: 100%;
	box-sizing: border-box;
	height: 480px;
	display: table;	
}

.left-header {
	height: 50px;
	background-color: primary;
	position: relative;
}

.right-header {
	height:50px;
}

.column {
	display: table-cell;
	vertical-align: top;
}

.left-column>div {
	margin: 0 auto;
}

.left-column {
	composes: column;
	width: 66%
}

.right-column {
	position: relative;
	composes: column;
	background-color: secondary;
	display: table-cell;
	width: 33%;
}

.right-title {
	font-weight: 200;
	margin-left: 75px;
	padding-top: 9px;
	font-family: sans-serif;
    font-size: 29px;
    color: quaternary;
    letter-spacing: 2.5px;

}

.form-container {
	padding: 38px 30px;
	width: 690px;
	height: 500px;
	box-sizing: border-box;
	position: relative;
}

.left-header-tip {
	position: absolute;
	top: 0;
	left: -53px;
	width: 0; 
	height: 0; 
	border-left: 53px solid transparent;
	border-right: 53px solid transparent;
	border-top: 50px solid primary;
}

.summary-container {
	position: relative;
	height: 400px;
	width: 100%;
	overflow: hidden;
}
