@value colors: "../../main/colors.css";
@value primary, secondary, tertiary, quaternary, quinary from colors;

.main {
	display: table;
	height: 50px;
	width: 100px;
	margin: 0 0 16px 10px;
	padding: 0 9px;
	background-color: quaternary;
}

.main:hover {
	border-bottom: 2px solid primary;
	margin-bottom: 14px;
}