@value colors: "../../main/colors.css";
@value primary, secondary, tertiary, quaternary, quinary from colors;

.header {
	position: absolute;
	font-weight: 200;
	top: -51px;
    padding-bottom: 28px;
    padding-top: 8px;
    font-family: sans-serif;
    font-size: 29px;
    color: quaternary;
    letter-spacing: 2.5px;
}