@value colors: "../../../main/colors.css";
@value primary, secondary, tertiary, quaternary, quinary from colors;

.main {
	padding-bottom: 20px;
}

.title {
    font-family: quantumrounded, sans-serif;
    font-size: 17px;
    color: rgb(118, 118, 118);
    letter-spacing: 2.2px;
}

.inner {
	position: relative;
	margin-top: 11px;
	margin-left: 11px;
	height: 68px;
	background-color: quaternary;
}

.details {
	position: absolute;
	top: 17px;
	left: 74px;
}

.checkbox-container { 
	position: absolute;
	top: 20px;
	left: 20px;
 	box-sizing: border-box;
 }

.checkbox {
	position: relative;
	box-sizing: border-box;
	border: 2px solid #757575;
	width: 28px;
	height: 28px;
}

.checkbox-checked {
	composes: checkbox;
	background-color: #dfdfdf;
}

.checkbox svg {
	height: 106%;
	width:106%;
	position: absolute;
	top: -5px;
	right: -6px;
	fill: #404040;
}

.provider {
	font-family: quantumrounded, sans-serif;
    font-size: 15px;
    color: rgb(118, 118, 118);
    letter-spacing: 1px;
    width: 430px;
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.eta {
	font-family: quantumrounded, sans-serif;
	padding-top: 8px;
    font-size: 12px;
    color: rgb(118, 118, 118);
    letter-spacing: 1px;
}

.price {
	font-family: quantumrounded, sans-serif;
	position: absolute;
	right: 20px;
	top: 25px;
	padding-top: 5px;
    font-size: 13px;
    color: rgb(118, 118, 118);
    letter-spacing: 1px;
}