@value colors: "../../main/colors.css";
@value primary, secondary, tertiary, quaternary, quinary from colors;

.main {
	display: inline-block;
	box-sizing: border-box;
	width: 47px;
	height: 38px;
	line-height: 42px;
	text-align: center;
	font-size: 16px;
	margin-right: 22px;
	vertical-align: top;
	cursor: pointer;
}

.main-unselected:hover {
	border-bottom: 3px solid primary;
}

.main-unselected {
	composes: main;
	line-height: 38px;
	border: 2px solid quinary;
}

.main-selected {
	composes: main;
	background-color: primary;
	color: quaternary;
}