.footer-main {
	background-color: #776255;
	height: 50px;
	position: relative;
}

.social-hub {
	vertical-align: middle;
	display: table;
	float: right;
	height: 100%;
}

.social-link {
	cursor: pointer;
	display: table-cell;
	vertical-align: middle;
	width: 68px;
}

.social-icon {
	display: inline-block;
	width: 36px;
}