@value colors: "../../main/colors.css";
@value primary, secondary, tertiary, quaternary, quinary from colors;

.main {
	display: inline-table;
	height: 100%
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
}

.menu-container {
	display: table-cell;
	height: 100%
}