@value colors: "../../main/colors.css";
@value primary, secondary, tertiary, quaternary, quinary from colors;

.main {
	position: relative;
	background-color: rgba(0, 0, 0, 0.49);
	height: 132px;
	border-top: 47px solid primary;
	width: 692px;
}

.main0 {
	composes: main;
}

.main1 {
	composes: main;
}

.image {
	margin-left: 100px;
}

.button {
	display: inline-block;
	font-weight: 200;
	letter-spacing: 1px;
	border: 2px solid quaternary;
	border-radius: 2px;
	padding: 5.5px 18px;
	cursor: pointer;
	font-family: quantumrounded, sans-serif;
	font-size: 17px;
	color: quaternary;
}

.button:active {
	color: primary;
	background-color: rgba(255,255,255,0.58);
}

.button-view {
	composes: button;
	position: absolute;
	top: 47px;
	left: 500px;
}

.tip {
	position: absolute;
	top: -47px;
	right: -59px;
	width: 0; 
	height: 0; 
	border-left: 59px solid transparent;
	border-right: 59px solid transparent;
	border-top: 47px solid primary;
}